<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="appointmentsConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>

    <!--<add name="appointmentsConnectionString" connectionString="Data Source=.;Initial Catalog=appointment;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  
  </connectionStrings>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<pages theme="all" styleSheetTheme="all" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<authentication mode="Forms"/>
		<compilation targetFramework="4.0" debug="true"/></system.web>
	<system.net>
		<mailSettings>
			<smtp from="admin@classroom.com">
				<network host="localhost" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>
